<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962829759848-3f7clna74qgvd6agope2p49jbp9ti8i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962829759848-3f7clna74qgvd6agope2p49jbp9ti8i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAPvC-OziaBaopCzhI18xjIhYnj-uqhOSs</string>
	<key>GCM_SENDER_ID</key>
	<string>962829759848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourownpizza</string>
	<key>PROJECT_ID</key>
	<string>your-own-pizza</string>
	<key>STORAGE_BUCKET</key>
	<string>your-own-pizza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962829759848:ios:ac27d07555c61fe43fd2dd</string>
	<key>DATABASE_URL</key>
	<string>https://your-own-pizza.firebaseio.com</string>
</dict>
</plist>